.restaurant-item {
  border-radius: 8px;
  border: 1px solid #e8e8e8;

  & > div {
    border-radius: 8px;
    overflow: hidden;

    .restaurant-item__thumbnail {
      background: #e8e8e8;
      min-height: max-content;
      aspect-ratio: 16 / 9;

      img {
        max-height: 300px;
      }
    }
    .rating {
      padding-top: 2em;
      background: linear-gradient(0deg, #12151a 0%, transparent);
    }
  }

  .description {
    a {
      font-size: 18px;
      color: black;
      font-weight: 600;
      display: block;
      padding: 0.5em 0;
    }
  }
}
