h1 {
  font-size: 34px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

h2 {
  font-size: 28px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

h3 {
  font-size: 24px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

h4 {
  font-size: 20px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

h5 {
  font-size: 16px;
  padding: 0.25em 0;
}

h6 {
  font-size: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

p {
  font-size: 14px;
  padding-bottom: 0.5em;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: gray;
}

a {
  color: rgb(238, 0, 0);
}
